@model Razer2.Models.Product

@{
   ViewBag.Title = "Product information";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @Model.Name
    </div>
</body>
</html>
