
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="~/Content/Styles.css" rel="stylesheet"/>
    <title>Index</title>
</head>

<body>
    
    <div class="text-center"> 
        Hello World from View <br />
        @ViewBag.Greeting World (from view bag) <br />
        <p>We are going to have an exciting party.<br/>
        (To do: sell is better. Add pictures or something.)
        </p>
        <div class="btn btn-success">
            @Html.ActionLink("RSVP Now", "RsvpForm")
        </div>
    </div>

</body>
</html>
